.scrollable-box {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 90%;
    margin: 0 auto;

    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0 20px 10px -11px rgba(0, 0, 0, 0.5) inset, 0 -20px 10px -11px rgba(0, 0, 0, 0.5) inset;
}

.scrollable-box::-webkit-scrollbar {
    display: none;
}