.entry-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 20px;

    user-select: none;

    button {
        grid-column: 1 / 3;
        width: 80%;
        margin: 0 auto;
    }
}

.gb-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.entry-goal-box {
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #ffffff;
    color: #213547;
    overflow-y: scroll;

    padding: 10px 20px;
    margin: 0 auto;
    width: 80%;
    height: 80%;
    max-height: 25vh;

    h1 {
        font-size: 200%;
        margin: 20px 0;
    }
}


@media (max-aspect-ratio:4/5) or (max-width: 800px) {
    .entry-container {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 3fr 1fr;
    }

    .gb-container {
        grid-column: 1 / 3;
    }
}