.expandable-box {
    box-sizing: border-box;
    transition: max-height 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

.expandable {
    border-radius: 10px;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1) inset, 0 -8px 4px rgba(0, 0, 0, 0.1) inset;
    transition: 0.3s all;
}
.expandable:hover {
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2) inset, 0 -8px 8px rgba(0, 0, 0, 0.2) inset;
    transform: scale(0.98);
}

.expanded {
    box-shadow: none;
}

.content {
    transition: opacity 0.3s ease;
}
