.init-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    gap: 10px;
    width: 100%;
    height: 100%;

    user-select: none;

    h1 {
        text-wrap: balance;
    }
}

.gen-box {
    flex-shrink: 1;
    margin-top: 20px;
}

@keyframes goal-reveal {
    from { width: 0%; height: 0%; }
    to { width: 100%; height: 50%; }
}

.goal-container {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    align-items: center;
    width: 100%;
    margin: 30px auto;
    cursor: pointer;

    animation: 0.5s goal-reveal;
    transition: 0.5s all;

    svg {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
}

.goal-container:hover {
    transform: scale(1.1);
}

.goal-box {
    display: flex;
    justify-content: center;
    align-items:  center;

    border: 1px solid gray;
    border-radius: 10px;
    background-color: #ffffff;
    color: #213547;

    padding: 10px 10px;
    margin: 0 auto;
    width: 70%;
    height: 70%;
    text-wrap: balance;
}

.lb-container {
    width: 50%;
    margin: 0 auto;

    p {
        margin: 10px;
    }
}

.loading-button {
    width: 50%;
    margin: 0 auto;
    position: relative;
    height: 30px;
}

.loading-button.inactive {
    color: #f1f1f1;
}

.loading-bar-text {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.loading-bar-progress {
    position: absolute;
    height: calc(100% - 2px);
    left: 1px;
    top: 1px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    background-color: #4caf50;
    transition: width 0.3s ease;
}
    


.search-bar {
    width: 50%;
    margin: 0 auto 20px auto;

    div {
        margin-bottom: 10px;
    }

    input {
        padding: 0 20px;
        width: 80%;
        height: 100%;
        box-sizing: border-box
    }

    button {
        font-size: 0.8rem;
        padding: 0;
        width: 20%;
        height: 100%;
        border: 1px solid gray;
    }
}
