.wiki-page {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    max-width: 800px;
    
    height: 100%;
    overflow-y: auto;
    margin: 0 auto;
    padding: 0 32px 0 32px;

    text-align: left;
    cursor: default;
}


.page-title {
    margin-top: 32px;
    box-shadow: 0px 8px 5px -5px rgba(0, 0, 0, 0.5);
    text-wrap: wrap;

    h1 {
        display: inline-block;
        margin: 20px 0 20px 0;
        text-shadow: 2px 5px 5px gray;
        cursor: pointer;
    }

    span {
        display: inline-block;
        position: fixed;
        transform: translateY(15px);
        max-width: 300px;
        margin-left: 30px;
        border-radius: 5px;
        box-shadow: 3px 3px 3px gray;
        background-color: blanchedalmond;
        color: #213547;
        padding: 10px;
        opacity: 0;
        transition: 0.2s all;
    }
    span:before {
        position: absolute;
        left: -30px;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        border-top: 10px solid transparent;
        border-right: 15px solid blanchedalmond;
        border-bottom: 10px solid transparent;
        border-left: 15px solid transparent;
    }

    h1:hover~span {
        opacity: 1;
    }
}

.page-intro {
    column-gap: 20px;
    align-items: flex-start;
    white-space: pre-line;
    padding: 10px;

    .paragraphs {
        display: inline-block;
    }
}

.img-container {
    width: 250px;
}

.img-label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: 16px 0 16px 0;
    background-color: antiquewhite;
    color: #213547;
    font-weight: 600;
}

.img-border {
    align-self: start;
    padding: 10px;
    padding-bottom: auto;
    margin-top: 16px;
    border: 1px double #dddddd;
    box-sizing: border-box;

    img {
        display: inline-block;
        width: 230px;
        object-fit: contain;
        box-sizing: border-box;

        transition: 0.3s all;
    }

    img:hover {
        transform: scale(1.1);
    }
}


.filter-container {
    background-color: white;
    position: sticky;
    top: 0;
    padding: 16px 0 16px 0;
    margin-bottom: 16px;
    box-shadow: 0px -8px 5px -5px rgba(0, 0, 0, 0.5), 0px 8px 5px -5px rgba(0, 0, 0, 0.5);
}

.filter-label-container {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 5px;

    svg {
        padding: 5px;
        cursor: pointer;
    }
    svg~span {
        position: relative;
        display: inline-block;
        height: 10px;
        line-height: 10px;
        margin-left: 15px;
        border-radius: 5px;
        box-shadow: 3px 3px 3px gray;
        background-color: white;
        color: #213547;
        padding: 10px;
        opacity: 0;
        transition: 0.2s all;
    }

    span:before {
        position: absolute;
        left: -30px;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        border-top: 5px solid transparent;
        border-right: 15px solid white;
        border-bottom: 5px solid transparent;
        border-left: 15px solid transparent;
    }

    svg:hover~span {
        opacity: 1;
    }
}

input.filter-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #646cffaa;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1rem;
}

.links-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 200px;

    div {
        display: flex;
        justify-content: center;
        align-items: center;

        text-wrap: pretty;
        color: #1111EE;
        border: 1px solid gray;
        border-radius: 10px;
        padding: 10px;
        margin: 5px;
        cursor: pointer;
    }

    div:hover {
        text-decoration: underline;
    }

}

@media (max-width: 800px) {
    .links-container {
        grid-template-columns: repeat(3, 1fr);
    }
}