.App-container {
  display: flex;
  flex-direction: column;
  
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100vw;
  padding: 30px;

  background-color: #1a1a1a;

  label {
    align-self: center;
    padding: 10px;
    background-color: gray;
    color: white;
    font-weight: 600;
    
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 2px;
  }

  input {
    padding: 10px;
    margin-right: 10px;
  }

  select {
    padding: 10px;
    margin-right: 20px;
  }
  input {
    width: calc(60% - 40px);
  }
}