.App-container {
  display: grid;
  grid-template-columns: auto 800px auto;
  grid-template-rows: 80px auto 50px;
  
  width: 100vw;
  height: 100vh;
  
  text-align: center;
  box-sizing: border-box;
}

footer.App-footer {
  grid-column: 1 / 4;
  bottom: 0;
  background-color: #1a1a1a;
  line-height: 50px;
  text-align: center;
  color: white;
  user-select: none;
}