@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'NEXON Lv1 Gothic OTF'
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

::-webkit-scrollbar {
  width: 15px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  margin: 5px;
}

::-webkit-scrollbar-thumb {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ddd;
}

::-webkit-scrollbar-button {
  background: #ccc;
  border-radius: 50%;
  display: none;
}

.row-flex {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.column-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
  button {
    color: #1a1a1a;
  }

  ::-webkit-scrollbar-track {
    background: #0d0d0d;
  }
  
  ::-webkit-scrollbar-thumb {
    background: black;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #111;
  }
  
  ::-webkit-scrollbar-button {
    background: #222;
  }
}
